#texto-geral {
    display: none;
    z-index: 99999;

    position: relative;

    border: 2px solid aqua;
    background-color: antiquewhite;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}